img#logo {
  max-width: 50%;
  height: auto;
}

.image{
  text-align: center;
  width: 100%;
}

h1,h2,p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  border-bottom: #1b203d solid 4px;
}

nav li {
  display: inline-block;
  margin:0 5px 0 5px;
}

nav a{
  text-decoration: none;
  color: rgb(16, 5, 109);
}

nav a.current{
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
  
}


nav ul {
  padding: 0px;
  text-align: center;
}

body{
  /* display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 1em; */
  min-height: 1vh;
  margin:0;
}

footer{
  width: 100%;
  background-color:#1B203D ;
  color:white;
}

footer section{
  width:60%;
  margin:auto;
  display:flex;
}

footer section p{
  flex:4;
}

footer section p a{
  color:grey
}

footer section ul{
  flex:1;
}

footer section ul li a{
  color:white;
  text-decoration: none;
}


/* index page */

main#home{
  width: 60%;
  margin:auto;
}



/* Product page */

main#products h1{
  text-align: center;
}
main#products section#games{
  display: flex; 
}

main#products section#games section#filter{
  flex:1;
}

main#products section#games section#filter ul{
  text-align: left;
}

main#products section#games section#filter ul a{
  text-decoration: none;
  color: rgb(16, 5, 109);
}

main#products section#games section#filter ul a:hover{
  text-decoration: underline;
}

main#products section#games section#gameslogo{
  flex:4;
  display:flex;
}

main#products section#games section#gameslogo .gamecard{
  flex:1;
  padding:15px;
}

main#products section#games section#gameslogo .gamecard img{
  width:50%;
}

main#products section#games section#gameslogo .gamecard button{
  background-color:#04BF68 ;
  border: none;
  color:white;
  padding:10px;
  border-radius:20px;
  box-shadow:rgb(99, 98, 98) 3px 3px 7px;
  transition: 0.15s;
}

main#products section#games section#gameslogo .gamecard button:hover{
  cursor:pointer;
  box-shadow:rgb(99, 98, 98) 5px 5px 7px;
}


/* About page */

main#about{
  width: 60%;
  margin:auto;
}

/* Contact page */

main#contact{
  width: 60%;
  margin:auto;
}



@media (max-width:500px){
  #gameslogo{
    flex-direction:column;
  }
  main#home{
    width:90%;
  }
  footer section{
    width: 90%;
  }
  main#about{
    width:90%;
  }
  main#contact{
    width:90%;
  }
}